{% extends 'RentCarBundle::bars.html.twig' %}

{% block content %}
<div id="content" class="col-lg-12 text-center">
<h1>Dostępne samochody</h1>
</div>
<div id="content" class="col-lg-12">
<table class="table table-hover">

<h2>Pierwsze auto</h2>
<dl class="dl-horizontal">
                                <dt>Marka</dt>
                                <dd>{{cars[1].marka}}</dd>
                                <dt>Model</dt>
                                <dd>{{cars[1].model}}</dd>
                                <dt>Klasa</dt>
                                <dd>{{cars[1].klasa}}</dd>
                                <dt>Cena</dt>
                                <dd>{{cars[1].cena}} zł/h</dd>
<img src="/~s180463/bundles/rentcar/images/car1.png" class="img-responsive center-block"/n>
<a class="btn btn-primary navbar-right"> Wypożycz</a>

<h2>Drugie auto</h2>
<dl class="dl-horizontal">
                                <dt>Marka</dt>
                                <dd>{{cars[2].marka}}</dd>
                                <dt>Model</dt>
                                <dd>{{cars[2].model}}</dd>
                                <dt>Klasa</dt>
                                <dd>{{cars[2].klasa}}</dd>
                                <dt>Cena</dt>
                                <dd>{{cars[2].cena}} zł/h</dd>
<img src="/~s180463/bundles/rentcar/images/car2.png" class="img-responsive center-block"/n>
<a class="btn btn-primary navbar-right"> Wypożycz</a>
<h2>Trzecie auto</h2>
<dl class="dl-horizontal">
                                <dt>Marka</dt>
                                <dd>{{cars[3].marka}}</dd>
                                <dt>Model</dt>
                                <dd>{{cars[3].model}}</dd>
                                <dt>Klasa</dt>
                                <dd>{{cars[3].klasa}}</dd>
                                <dt>Cena</dt>
                                <dd>{{cars[3].cena}} zł/h</dd>
<img src="/~s180463/bundles/rentcar/images/car3.png" class="img-responsive center-block"/n>
<a class="btn btn-primary navbar-right"> Wypożycz</a>


<h2>Czwarte auto</h2>
<dl class="dl-horizontal">
                                <dt>Marka</dt>
                                <dd>{{cars[4].marka}}</dd>
                                <dt>Model</dt>
                                <dd>{{cars[4].model}}</dd>
                                <dt>Klasa</dt>
                                <dd>{{cars[4].klasa}}</dd>
                                <dt>Cena</dt>
                                <dd>{{cars[4].cena}} zł/h</dd>
<img src="/~s180463/bundles/rentcar/images/car4.png" class="img-responsive center-block"/n>
<a class="btn btn-primary navbar-right"> Wypożycz</a>


<h2>Piate auto</h2>
<dl class="dl-horizontal">
                                <dt>Marka</dt>
                                <dd>{{cars[5].marka}}</dd>
                                <dt>Model</dt>
                                <dd>{{cars[5].model}}</dd>
                                <dt>Klasa</dt>
                                <dd>{{cars[5].klasa}}</dd>
                                <dt>Cena</dt>
                                <dd>{{cars[5].cena}} zł/h</dd>
<img src="/~s180463/bundles/rentcar/images/car5.png" class="img-responsive center-block"/n>
<a class="btn btn-primary navbar-right"> Wypożycz</a>

</table>
</div>

{% endblock %}